<% sidebar = 	SARAH.PortalManager.SIDEBAR %>
<% layout		('/layout/layout.ejs') -%>
<% stylesheet	('/duinomultiremote/www/less/duinomultiremote.css') %>
<% stylesheet	('/duinomultiremote/www/less/my_spectrum.css') %>
<% script		('http://localhost:11223/socket.io/socket.io.js'); %>
<% script		('/duinomultiremote/www/js/spectrum/spectrum.js') %>
<% script		('/duinomultiremote/www/js/spectrum/i18n/jquery.spectrum-fr.js') %>
<% script		('/duinomultiremote/www/js/portlet.js') %>

<!-- RGB LED panel -->
<div class="panel-group">
<div class="panel panel-default panel-rgb">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-2"><a type="button" class="btn btn-default btn-xs pull-left" id="rgb_state">OFF</a></div>
			<div class="col-xs-3">RGB</div>
		</div>
	</div>
	<!-- RGB LED values & render -->
	<div class="panel-body text-center">
		<!-- RGB DEL color rendering -->
		<input type='text' id="rgb-color"/>
		<!-- RGB RED value -->
		<div class="col-xs-12">
			<div class="btn-group" role="group">
				<!-- red Down button -->
				<a type="button" class="btn btn-default btn-xs" id='red_dwn'><span class="glyphicon glyphicon-minus"></span></a>
				<!-- red value -->
<!--<a href="/plugin/DuinoMultiRemote/modal/offsets.ejs?param1=COM1" data-action="modal" class="btn btn-default btn-xs" id="red_val">0</a>-->
				<a type="button" class="btn btn-default btn-xs disabled" id="red_val">0</a>
				<!-- red Up button -->
				<a type="button" class="btn btn-default btn-xs" id='red_up'><span class="glyphicon glyphicon-plus"></span></a>
			</div>
		</div>
		<!-- RGB GREEN value -->
		<div class="col-xs-12">
			<div class="btn-group" role="group">
				<!-- green Down button -->
				<a type="button" class="btn btn-default btn-xs" id='green_dwn'><span class="glyphicon glyphicon-minus"></span></a>
				<!-- green value -->
				<a type="button" class="btn btn-default btn-xs disabled text-center" id="green_val">255</a>
				<!-- green Up button -->
				<a type="button" class="btn btn-default btn-xs" id='green_up'><span class="glyphicon glyphicon-plus"></span></a>
			</div>
		</div>
		<!-- RGB BLUE value -->
		<div class="col-xs-12">
			<div class="btn-group" role="group">
				<!-- blue Down button -->
				<a type="button" class="btn btn-default btn-xs" id='blue_dwn'><span class="glyphicon glyphicon-minus"></span></a>
				<!-- blue value -->
				<a type="button" class="btn btn-default btn-xs disabled" id="blue_val">19</a>
				<!-- blue Up button -->
				<a type="button" class="btn btn-default btn-xs" id='blue_up'><span class="glyphicon glyphicon-plus"></span></a>
			</div>
		</div>
	</div>
</div>
<!-- LED panel -->
<div class="panel panel-default panel-led">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-2"><a type="button" class="btn btn-default btn-xs pull-left" id="led_state">ON</a></div>
			<div class="col-xs-3">LED</div>
			<div class="col-xs-1"><span class="glyphicon glyphicon-link"></span></div>
			<div class="col-xs-6">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-default" role="button" id='led_dwn'><span class="glyphicon glyphicon-minus"></span></a>
					<a class="btn btn-default disabled" role="button" id="led_val">0</a>
					<a type="button" class="btn btn-default" role="button" id='led_up'><span class="glyphicon glyphicon-plus"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Switch panel -->
<div class="panel panel-default panel-led">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-2"><a type="button" class="btn btn-default btn-xs pull-left" id="swt_state">OFF</a></div>
			<div class="col-xs-3">Switch</div>
			<div class="col-xs-1"><span class="glyphicon glyphicon-arrow-right"></span></div>
			<div class="col-xs-6">Cycles<button type="button" class="btn btn-default btn-xs pull-right disabled" id="swt_val">0</button></div>
		</div>
	</div>
</div>
<!-- POTENTIOMETER panel -->
<div class="panel panel-default panel-led">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-2"><a type="button" class="btn btn-default btn-xs pull-left" id="swt_state">OFF</a></div>
			<div class="col-xs-3">Potent.</div>
			<div class="col-xs-1"><span class="glyphicon glyphicon-info-sign"></span></div>
			<div class="col-xs-6">Value %<button type="button" class="btn btn-default btn-xs pull-right disabled" id="pot_val">0</button></div>
		</div>
	</div>
</div>
</div>