<% layout('/layout/modal.ejs') -%>
<% block('formUrl', '/plugin/duinomultiremote/modal/vocals.ejs'); %>
<% block('title',   'Liste des commandes vocales') %>

  <h4><u>Etats:</u></h4>
  <p><pre>{Donne moi, Quel est, Dis moi} l'état de la led ?</pre></p>
  <p><pre>{Donne moi, Quel est, Dis moi} l'état de la RGB ?</pre></p>
  <p><pre>{Donne moi, Quel est, Dis moi} l'état du potentiomètre ?</pre></p>
  <p><pre>{Donne moi, Quel est, Dis moi} l'état du dispositif ?</pre></p>
  <h4><u>Valeurs:</u></h4>
  <p><pre>{Donne moi, Quel est, Dis moi} la valeur de la led ?</pre></p>
  <p><pre>{Donne moi, Quel est, Dis moi} la valeur du rouge ?</pre></p>
  <p><pre>{Donne moi, Quel est, Dis moi} la valeur du vert ?</pre></p>
  <p><pre>{Donne moi, Quel est, Dis moi} la valeur du bleu ?</pre></p>
  <p><pre>{Donne moi, Quel est, Dis moi} la valeur du potentiomètre ?</pre></p>
  <h4><u>Allume:</u></h4>
  <p><pre>{Allume, Mets} la LED.</pre></p>
  <p><pre>{Allume, Mets} la RGB.</pre></p>
  <p><pre>{Allume, Mets} le dispositif.</pre></p>
  <p><pre>{Allume, Mets} le potentiomètre</pre></p>
  <h4><u>Eteint:</u></h4>
  <p><pre>{Eteint, Coupe} la LED.</pre></p>
  <p><pre>{Eteint, Coupe} la RGB.</pre></p>
  <p><pre>{Eteint, Coupe} le dispositif.</pre></p>
  <p><pre>{Eteint, Coupe} le potentiomètre.</pre></p>
  <h4><u>Augmente:</u></h4>
  <p><pre>{Monte, Augmente} la LED.</pre></p>
  <p><pre>{Monte, Augmente} le rouge.</pre></p>
  <p><pre>{Monte, Augmente} le vert.</pre></p>
  <p><pre>{Monte, Augmente} le bleu.</pre></p>
  <h4><u>Diminue:</u></h4>
  <p><pre>{Baisse, Diminue, Descend} la LED.</pre></p>
  <p><pre>{Baisse, Diminue, Descend} le rouge.</pre></p>
  <p><pre>{Baisse, Diminue, Descend} le vert.</pre></p>
  <p><pre>{Baisse, Diminue, Descend} le bleu.</pre></p>

