#DuinoMultiRemote {
  padding: 0px 4px;
  min-height: 260px;
  max-height: 260px;
  border-radius: 6px;
  border: 2px solid #EEE;
  background: #00979c;
  font-weight: bold;
  cursor: default;
}
#DuinoMultiRemote .portlet-header {
  height: 15px;
  background: #00979c;
  margin: 2px 0 0 0;
  padding: 0;
}
#DuinoMultiRemote .portlet-header H3 {
  display: none;
}
#DuinoMultiRemote .portlet-header #logo {
  display: block;
  margin: auto;
  height: 100%;
  background: red;
}
#DuinoMultiRemote .portlet-body {
  height: 209px;
  padding: 0px;
}
#DuinoMultiRemote .portlet-body .panel {
  margin: 0;
  padding: 0;
}
#DuinoMultiRemote .portlet-body .panel [id*="t_val"],
#DuinoMultiRemote .portlet-body .panel [id*="state"] {
  border-radius: 18px;
  border: 1px solid #33a3ec;
  color: #33a3ec;
  background: white;
  min-width: 26px;
  max-width: 26px;
  font-weight: bold;
  font-size: 11px;
}
#DuinoMultiRemote .portlet-body .panel .btn {
  padding-right: 0;
  padding-left: 0;
}
#DuinoMultiRemote .portlet-body .panel .disabled {
  opacity: 1;
}
#DuinoMultiRemote .portlet-body .panel-rgb {
  margin-top: 2px;
}
#DuinoMultiRemote .portlet-body .panel-rgb .panel-heading {
  padding: 0px 1px;
}
#DuinoMultiRemote .portlet-body .panel-rgb .panel-body {
  text-align: center;
}
#DuinoMultiRemote .portlet-body .panel-rgb .panel-body .btn-group {
  margin-top: 2px;
}
#DuinoMultiRemote .portlet-body .panel-rgb .panel-body .btn-group .btn {
  min-width: 25px;
  max-width: 25px;
}
#DuinoMultiRemote .portlet-body .panel-rgb .panel-body .btn-group .glyphicon {
  transform: scale(0.9, 0.9);
}
#DuinoMultiRemote .portlet-body .panel-rgb .panel-body .btn-group [id*="val"] {
  color: white;
  font-weight: bold;
}
#DuinoMultiRemote .portlet-body .panel-rgb .panel-body .btn-group #red_val {
  background: #F00;
  border: 1px solid #F00;
}
#DuinoMultiRemote .portlet-body .panel-rgb .panel-body .btn-group #green_val {
  background: #3C3;
  border: 1px solid #3C3;
}
#DuinoMultiRemote .portlet-body .panel-rgb .panel-body .btn-group #blue_val {
  background: #00F;
  border: 1px solid #00F;
}
#DuinoMultiRemote .portlet-body .container-fluid {
  margin-top: 3px;
}
#DuinoMultiRemote .portlet-body .container-fluid .row {
  margin-bottom: 3px;
}
#DuinoMultiRemote .portlet-body .container-fluid .row .btn-group {
  border: none;
}
#DuinoMultiRemote .portlet-body .container-fluid .row .btn-group .btn {
  border: none;
}
#DuinoMultiRemote .portlet-body .container-fluid .row .btn-group .glyphicon {
  transform: scale(0.6, 0.6);
}
#DuinoMultiRemote .portlet-body .container-fluid .row .btn-group #led_val {
  background: #33a3ec;
  color: white;
  font-size: 0.89em;
  font-weight: bold;
}
#DuinoMultiRemote .portlet-body .container-fluid .row .col-xs-1 {
  padding: 0;
}
#DuinoMultiRemote .portlet-body .container-fluid .row .col-xs-1 .glyphicon {
  font-size: 9px;
  color: white;
}
#DuinoMultiRemote .portlet-body .container-fluid .row .pot {
  height: 1.6em;
}
#DuinoMultiRemote .portlet-body .container-fluid .row #swt_state {
  background: #33a3ec;
  color: white;
}
#DuinoMultiRemote .portlet-footer::before {
  content: "DuinoMultiRemote";
}
#DuinoMultiRemote .portlet-footer {
  padding: 0px 0px 0px 6px;
  height: 26px;
  font-size: 16px;
  color: white;
  background: #777;
  border: 1px solid #EEE;
  border-radius: 4px;
}
#DuinoMultiRemote .portlet-footer .btn {
  border: none;
  height: 100%;
  background: #777;
}
#DuinoMultiRemote .portlet-footer .btn .glyphicon {
  padding: 0;
  color: white;
}
