@DuinoColor: #00979C;
@DuinoNoir: #6A5F4D;
@DuinoBleu: #33A3EC;
@DuinoBeige: #FAF0EA;
@headHeight: 23px;
@footHeight: 23px;
@pluginHeight: 260px;

#DuinoMultiRemote {
	border: none;
	box-shadow: none;
	min-height: @pluginHeight;
	max-height: @pluginHeight;
	* {
		border-radius: 0px;
		font-weight: bold;
	}
	#logo, .portlet-footer > .btn {
		display: block;
		margin: auto;
		height: 100%;	
		background: @DuinoColor;
		border: none;
		cursor: pointer;
		.glyphicon {
			padding: 0;
			color: white;
		}
	}
	.portlet-header {
		height: @headHeight;
		padding: 4px 0px;
		background: @DuinoColor;
		H3 {
			display: none;
		}
	}
	.portlet-body {
		height: @pluginHeight - @headHeight - @footHeight;
		padding: 0px;
	}
	.portlet-footer::before { content: "DuinoMultiRemote"; }
	.portlet-footer {
		padding: 0px 0px 0px 5px;
		height: @footHeight;
		font-size: 16px;
		color: white;
		background: @DuinoColor;
	}
	.panel-group {
		margin: 5px 0px 0px 0px;
		.disabled {
			opacity: 1;
		}
		.glyphicon {
			transform: scale(0.5, 0.5);
		}
		.panel {
			border-left: none;
			border-right: none;
		}
		.panel-rgb > .panel-heading {
			border-bottom: 1px solid #ddd;
		}
		.panel-heading {
			padding-top: 0px;
			padding-bottom: 0px;
			* {
				padding: 0px;
			}
			[class*="col-xs-"] > .btn {
				width: 25px;
				color: @DuinoBleu;
				border-color: @DuinoBleu;
			}
			.col-xs-1 {
				.glyphicon {
					transform: scale(0.7, 0.7);
					font-weight: normal;
				}
			}
			.col-xs-6 {
				padding-left: 4px;
				.btn-group > .btn {
					border-top: none;
					border-bottom: none;
				}
				#led_val {
					color: @DuinoBleu;
				}
			}
		}
		.panel-body {
			padding: 5px 0px;
			* {
				padding: 0px;
			}
			.btn {
				width: 30px;
				margin-top: 2px;
			}
			#red_val { 
				background: #F00;
				color: white; 
				border: 1px solid #F00; 
			}
			#green_val { 
				background: #3C3; 
				color: white; 
				border: 1px solid #3C3; 
			}
			#blue_val { 
				background: #00F; 
				color: white; 
				border: 1px solid #00F; 
			}
		}
	}
}
